<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Dessert Ordering</title>
    <link rel="shortcut icon" href="/static/assets/images/favicon-32x32.png" type="image/png" />
    <link rel="stylesheet" href="/static/css/form.css" />
  </head>
  <body>
    <div class="container">
      <h2>Register Your Account</h2>

      {{ with .Errors }} {{ range . }}
      <p class="error-message">{{ . }}</p>
      {{ end }} {{ end }} {{ with .Messages }} {{ range . }}
      <p class="message">{{ . }}</p>
      {{ end }} {{ end }}

      <form action="/register" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CsrfToken}}" />

        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            autocomplete="email"
            value="{{.Form.Email}}"
            placeholder="Enter E-mail"
          />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            autocomplete="username"
            value="{{.Form.Username}}"
            placeholder="Enter Username"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            value="{{.Form.Password}}"
            name="password"
            required
            autocomplete="password"
            placeholder="••••••••"
          />
        </div>

        <button type="submit">Register</button>
      </form>

      <p class="link-text">Already have an account? <a href="/login">Login Here</a></p>
    </div>
  </body>
</html>
